/* banner区域 */

.nav ul li .current {
    color: #00a4ff;
}

.banner {
    position: relative;
    height: 420px;
    margin: 0 auto;
}

.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: 'icomoon';
    font-size: 18px;
    z-index: 2;
}

.arrow-l {
    left: 190px;
}

.arrow-r {
    right: 230px;
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 200px;
}

.white {
    background-color: #fff;
}

.circle li {
    float: left;
    width: 12px;
    height: 12px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
}

.plot {
    position: absolute;
    left: 0;
    float: left;
    width: 1500%;
}

.focus {
    position: absolute;
    overflow: hidden;
    left: -360px;
    width: 1920px;
    height: 420px;
}

.banner .plot li {
    float: left;
    width: 1920px;
    height: 420px;
}

.banner img {
    width: 100%;
    height: 100%;
}

.subnav .current {
    color: #00a4ff;
}

.subnav {
    position: absolute;
    left: 0px;
    top: 0;
    width: 190px;
    height: 420px;
    padding: 3px 0;
    background: rgba(0, 0, 0, 0.3);
}

.subnav>ul>li {
    height: 46px;
    margin-left: 3px;
}

.subnav>ul>li>a {
    display: block;
    width: 188px;
    padding: 0 10px;
    padding-top: 13px;
    font-size: 14px;
    color: #fff;
    transition: all .5s;
}

.subnav>ul>li>a::after {
    content: '>';
    float: right;
    margin-right: 10px;
}

.subnav>ul>li:hover>a {
    margin-left: 15px;
    color: #00a4ff;
}

.subnav>ul>li:hover {
    background-color: rgba(0, 0, 0, .5);
}

.subnav-r>ul>li {
    display: none;
    position: absolute;
    left: 190px;
    top: 0;
    background-color: #fff;
    width: 420px;
    height: 420px;
    padding-top: 20px;
    padding-left: 20px;
    z-index: 999;
}

.subnav-r>ul>li a {
    padding: 0 6px;
}

.subnav-r {
    display: inline-block;
    font-size: 16px;
}

.subnav-r>li>a:hover {
    color: #00a4ff;
}


/* 课程模块 */

.course {
    position: absolute;
    top: 50px;
    right: 0;
    width: 230px;
    height: 300px;
    background-color: #fff;
}

.course h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}

.bd {
    padding: 0 20px;
}

.bd ul li {
    cursor: pointer;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
}

.bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd ul li:hover p {
    color: #00a4ff;
}

.bd ul li:hover h4 {
    color: #00a4ff;
}

.bd .more {
    position: absolute;
    bottom: 10px;
    left: 14px;
    width: 200px;
    height: 40px;
    text-align: center;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    border: 1px solid #00A4FF;
}


/* 精品推荐模块star */

.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
    transition: all .5s;
    cursor: pointer;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.goods ul li:hover a {
    color: #00a4ff;
}

.goods ul li:hover {
    transform: scale(1.06);
}

.mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}


/* 精品推荐模块end */


/* box区域star */

.box {
    margin-top: 30px;
}

.box-hd {
    height: 45px;
}

.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}

.box-bd ul {
    width: 1225px;
}

.box-bd>ul>li {
    position: relative;
    cursor: pointer;
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
    transition: all .5s;
}

.box-bd>ul>li:hover {
    transform: scale(1.05);
}

.box-bd ul li>img {
    width: 100%;
}

.box-bd ul li h4 {
    display: block;
    width: 184px;
    height: 40px;
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box-bd ul li h4:hover {
    color: #00A4FF;
}

.box-bd ul li em {
    position: absolute;
    top: 4px;
    right: -4px;
}

.box-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box-bd .info span {
    color: #ff7c2d;
}


/* box区域end */


/* claa-list 区域star */

.class-list {
    margin-top: 20px;
}

.class-hd {
    height: 45px;
}

.class-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.class-hd ul {
    float: left;
    margin-left: 331px;
}

.class-hd ul li {
    float: left;
}

.class-hd ul li>a {
    padding: 0 30px;
    font-size: 16px;
    line-height: 42px;
}

.class-hd>a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}

.class-bd {
    position: relative;
    height: 392px;
}

.php {
    position: absolute;
    top: 46px;
    left: 35px;
    width: 161px;
    height: 266px;
    color: #fff;
}

.php>h3:hover {
    color: #00a4ff;
}

.php>h4:hover {
    color: #00a4ff;
}

.php>p:hover {
    color: #00a4ff;
}

.php h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.php h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 34px;
}

.php p {
    margin-bottom: 52px;
    margin-left: 16px;
    font-size: 14px;
}

.class-l {
    float: left;
    cursor: pointer;
    width: 228px;
    transition: all 0.5s;
}

.class-l:hover {
    transform: scale(1.05);
}

.class-top {
    float: left;
    cursor: pointer;
    width: 957px;
    height: 100px;
    margin-left: 15px;
    transition: all 0.5s;
}

.class-top:hover {
    transform: scale(1.02);
}

.class-r {
    float: left;
    width: 972px;
}

.class-r ul {
    float: left;
}

.class-r ul {
    /* overflow: hidden; */
    width: 1201px;
    margin-top: 23px;
}

.class-r ul li {
    position: relative;
    cursor: pointer;
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-left: 15px;
    transition: all .5s;
}

.class-r ul li:hover {
    transform: scale(1.05);
}

.class-r ul li>img {
    width: 100%;
}

.class-r ul li h4 {
    display: block;
    width: 184px;
    height: 40px;
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.class-r ul li h4:hover {
    color: #00A4FF;
}

.class-r ul li em {
    position: absolute;
    top: 4px;
    right: -4px;
}

.class-r .into {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.class-r .into span {
    color: #ff7c2d;
}

.class-data,
.class-machine,
.class-open,
.famous {
    margin-top: 30px;
}


/* claa-list 区域end  */


/* 牛人推荐 str  */

.famous {
    margin-bottom: 60px;
}

.famous-bd {
    float: left;
    height: 672px;
}

.famous-bd ul {
    float: left;
    width: 1225px;
}

.famous-bd ul li {
    position: relative;
    float: left;
    width: 228px;
    height: 320px;
    margin-right: 15px;
    margin-bottom: 31px;
    background-color: #e6ebff;
    cursor: pointer;
    transition: all .5s;
}

.famous-bd ul li:hover {
    transform: scale(1.03);
}

.famous-bd ul li img {
    width: 100%;
    height: 100%;
}

.famous-bd ul li .detail {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 225px;
    height: 122px;
    font-size: 12px;
    color: #fff;
    padding-left: 25px;
    background-color: rgba(0, 0, 0, .3);
}

.famous-bd ul li .detail span {
    display: block;
    margin-top: 21px;
    margin-bottom: 12px;
}

.famous-bd ul li .detail em {
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}

.famous-bd ul li .detail p {
    width: 175px;
    height: 54px;
}

.famous-bd ul li:nth-child(2) .detail {
    width: 225px;
    height: 320px;
}

.famous-bd ul li:nth-child(2) .detail>em {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 20px;
}

.famous-bd ul li:nth-child(2) .detail span {
    display: block;
    margin-top: 112px;
    margin-bottom: 3px;
}

.famous-bd ul li:nth-child(2) .detail p {
    width: 175px;
    height: 132px;
}

.famous-bd ul li:nth-child(3) {
    height: 349px;
    margin-bottom: 2px;
}

.famous-bd ul li:nth-child(3) .detail {
    bottom: 28px;
    background-color: rgba(0, 0, 0, 0)
}

.famous-bd ul li:nth-child(6) {
    width: 470px;
}


/* 牛人推荐 end  */


/*侧边导航lan*/

.fixedtool {
    display: none;
    position: fixed;
    top: 150px;
    left: 50%;
    margin-left: -737px;
    width: 130px;
    background-color: #fff;
}

.fixedtool ul {
    padding: 13px 10px 13px 13px;
}

.fixedtool li {
    padding: 10px 0;
    font-size: 12px;
    cursor: pointer;
}

.fixedtool .current {
    color: #00A4FF;
}

.back {
    position: fixed;
    width: 60px;
    height: 100px;
    background-color: #fff;
    left: 50%;
    top: 500px;
    margin-left: 605px;
}

.back>button {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #ccc;
    margin-top: 5px;
    margin-left: 10px;
}

.back>button>span {
    display: block;
    color: #fff;
    font-size: 20px;
    margin-top: 1px;
}